<section class="p-8 xs:p-2">
  <h1 class="text-center text-primary border-bottom-3 py-9">Technical Skills</h1>

  <div class="grid grid-cols-4 md:grid-cols-2 xs:grid-cols-1 gap-4 place-items-center">
    <div
      *ngFor="let skill of skillsList"
      class="flex flex-col justify-center items-center w-11/12 h-52 border border-primary rounded"
    >
      <img [src]="skill.icon" alt="" [class]="skill.class" />
      <h4 [class]="skill.headingStyle">{{ skill.name }}</h4>
    </div>
  </div>
</section>
