<section class="p-8 bg-primary">
  <h1 class="text-center text-white">About Me</h1>
  <div class="flex xs:flex-col items-center gap-8 py-12">
    <div class="w-1/2 xs:w-full px-10 xs:px-0 text-white">
      <p>
        I have completed my Bachelor's degree in Computer Science from a highly reputable institution, FAST-NUCES. With
        a strong foundation in computer science, I embarked on my professional journey in the world of software
        development. <br />I am currently working as an Angular Developer at CodesOrbit, where I have the privilege of
        being a part of a dynamic team that is passionate about crafting exceptional web applications. CodesOrbit has
        provided me with valuable opportunities to further enhance my skills and knowledge in web development.
      </p>
    </div>
    <div class="w-1/2 xs:w-full flex justify-center">
      <img src="assets\DP-3.png" alt="" class="h-96 w-96 xs:h-50 xs:w-50 rounded-full" />
    </div>
  </div>
</section>
