<section class="p-8">
  <h1 class="text-center text-primary border-bottom-3">Contact Us</h1>
  <div>
    <div>
      <p class="text-center">Feel free to contact me for further discussion.</p>
      <form class="grid grid-cols-1 gap-4 px-4 pt-12 text-center">
        <div class="flex xs:flex-col gap-3">
          <input type="text" class="outline-none border rounded p-3 w-full" placeholder="Full Name" />
          <input type="text" class="outline-none border border-primary rounded p-3 w-full" placeholder="Email" />
        </div>
        <div>
          <textarea
            type="text"
            class="outline-none border border-primary rounded p-3 w-full"
            placeholder="Description"
            rows="5"
          ></textarea>
        </div>
        <div>
          <button type="submit" class="bg-primary text-white !px-6 !w-full !h-[50px] !rounded" mat-raised-button>
            <p class="font-normal">Submit</p>
          </button>
        </div>
      </form>
    </div>
    <div></div>
  </div>
</section>
