<div class="absolute !top-14">
  <section
    class="bg-banner-vedio bg-repeat-round text-white h-95vh bg-no-repeat center bg-cover flex xs:flex-col justify-center items-center gap-4"
  >
    <div class="w-1/2 xs:w-full px-10 text-center">
      <h2>Sheraz Hussain</h2>
      <p>
        I am an Angular developer with 2 years of experience in designing and developing scalable web applications.
        Proficient in building user-friendly interfaces, implementing robust data management systems, and optimizing
        application performance.
      </p>
    </div>
  </section>

  <!-- Skill Section -->
  <div>
    <app-skills></app-skills>
  </div>

  <!-- Project Section -->
  <div>
    <app-projects></app-projects>
  </div>

  <!-- About Us Section  -->
  <div>
    <app-about-us></app-about-us>
  </div>

  <!-- Contact Us Section  -->
  <div>
    <app-contact-us></app-contact-us>
  </div>
</div>
